<nav (scroll)="onWindowScroll($event)" *ngIf="mobile" class="navigation-mobile">
  <div class="nav-wrapper">
    <a href='/'><h5 class="name">Nikhil Bamne</h5></a>
    <div class="button-wrapper">
      <a href="nbamne3@gmail.com" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
      <a href="https://github.com/niksbamne" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/nikhil-bamne-048707147/" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</nav>

<nav (scroll)="onWindowScroll($event)" *ngIf="!mobile">
    <div class="nav-wrapper">
      <h5 class="name">Nikhil Bamne</h5>
      <div class="button-wrapper">
        <a href="nbamne3@gmail.com" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
        <a href="https://github.com/niksbamn" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nikhil-bamne-048707147/" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
</nav>
